body{
    
    background-color: black!important;
    /* background-image: linear-gradient(to right, #320094 , #F32C41); */
}


body, h1, h2{
    font-family: 'Righteous', cursive;
    
    color: white;
}

h3, h4, h5, h6, div{
font-family: 'Roboto', sans-serif;

    color: white;
}


.grid-wrapper-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    padding-right: 5px;
    padding-left: 5px;
}


#title-sec{
    height: 100vh;
    position: relative;
}

#title{
    color: white;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    top: 30%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Kumar One Outline', cursive;
}

.area {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 0px #000,
                    0px 0 0px #000;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0px 0 50px #fff;
    }
  }


.header-sec{
    height: 100vh;
    position: relative;
    overflow:hidden;
}

.header-text{
    color: white;
    font-size: 35vw;
    /* left: 50%; */
    top: 50%;
    position: absolute;
    /*left: 50%;
    position: absolute; */
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Righteous', cursive;
}

#brief-text-1-parent{
    margin-top: 200px;
    /* background-color: aqua; */
    height: 100vh;
}

.center-text{
    text-align: center;
    padding: 50px;
    /* background-color: green; */
}

#brief-text-1
{
    padding: 5px;
    opacity: 1;
}


img{
    max-width:100%;
    max-height:100%
}

.movie-ref{
    padding: 10px;
    margin: 10px;
    border: #888;
    border-style: solid;
    margin-bottom: 100px;

}

.movie-name
{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;
    color: black;
}